@CHARSET "UTF-8";

body {
   padding-top: 70px;
}

.overviewcenter {

    padding-top: 35px;
    padding-left: 12%;
}

.navi {
    background: green;
}

.lang {
    margin-top: 5%;
}

#pictoEdit, #pictoDelete {
    max-width: 20px;
    max-height: 20px;
}

#create-table {
    border-top: 2px solid black;
    margin: 0 auto;
}

#create-tabel>tr {
    color: red;
}

#overview {
  max-width: 100%;
  background-color: transparent;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  border-collapse: collapse;
}

#overview>tr:first-child {
	border-bottom: 1px solid #666;
	background-color: #eee;
}

 th,  td
{
    padding: 10px 60px 10px 20px;
}

 th:last-child,  td:last-child {
	padding-right: 5px;
}

.errorForm {
    color:red;
    font-size: 150%;
}

form>input {
    margin-bottom: 15px;
}

