<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create</title>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/sample.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top navi" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">CHIROframework</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="overview.html">Overview</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Create Chiro</h1>
            <div ng-app="createApp">
                <div ng-controller="createCtrl">
                    <p class="errorForm"></p>
                    <form novalidate class="simple-form">
                        Name: <input type="text" ng-model="chiro.name" maxlength="25"/><br/>
                        E-mail: <input type="email" ng-model="chiro.email" maxlength="40"/><br/>
                        City: <input type="text" ng-model="chiro.city" maxlength="25"/><br/>
                        <input type="submit" ng-click="save(chiro)" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.min.js"></script>
<script src="resources/js/angular.min.js"></script>
<script src="resources/js/script.js"></script>

</body>

</html>
