<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Overview</title>
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/sample.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top navi" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">CHIROframework</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="create.html">Create</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Overview Chiro's</h1>
            <div class="overviewcenter">
                <div ng-app="myApp" ng-controller="chiroCtrl">
                    <table id="overview">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Weather</th>
                           <!-- <th></th>
                            <th></th>-->
                        </tr>
                        </tr>
                        <tr ng-repeat="x in myData">
                            <td> {{ x.id }}</td>
                            <td> {{ x.name }}</td>
                            <td> {{ x.email }}</td>
                            <td> {{ x.city }}</td>
                            <td> {{ x.weather }}</td>
                            <!--<td><a onclick="deleteChiro()" href="#" ><img src="resources/img/edit.png" id="pictoEdit"/></a></td>
                            <td><img src="resources/img/delete.png" id="pictoDelete"/></td>-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.min.js"></script>
<script src="resources/js/angular.min.js"></script>
<script src="resources/js/script.js"></script>

</body>
</html>